body{
    
    background-color: black;
}
#div1{
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
}
#div2{
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 50%;
}
#div3{
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}